<header>
    <h1>Wish list</h1>
</header>
<div class="games">
    <div *ngFor="let card of games">
        <div class="card">
            <div class="cover">
                <img src={{card.cover}} alt="card" />
            </div>
            <p class="name">{{card.name}}</p>
            <p class="price">Price: {{card.price}}</p>
            <button class="basket">Add to Basket</button>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="footer-icons">
            <a class="github" href="https://github.com/AlexeyKorkoza"><i class="fa fa-2x fa-github"></i></a>
        </div>
        <p>Made by © 2017 Alexey Korkoza</p>
    </div>
</footer>