<header>
    <h1>Wish list</h1>
</header>
<main>
    <div class="games">
        <div *ngFor="let card of games; let index = index">
            <div class="card">
                <div class="cover">
                    <img src={{card.cover}} alt="card"/>
                </div>
                <p class="name">{{card.name}}</p>
                <p class="price">Price: {{card.price}}</p>
                <div *ngIf="card.checked">
                    <button class="basket">Added</button>
                </div>
                <div *ngIf="!card.checked">
                    <button (click)="add(card)" class="basket">Add to Basket</button>
                </div>
            </div>
        </div>
    </div>
    <aside>
        <app-wish-list (removeWishById)="removeWishById($event)" [card]="card"></app-wish-list>
    </aside>
</main>
<footer>
    <div class="container">
        <div class="footer-icons">
            <a class="github" href="https://github.com/AlexeyKorkoza"><i class="fa fa-2x fa-github"></i></a>
        </div>
        <p>Made by © 2017 Alexey Korkoza</p>
    </div>
</footer>